@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@utility no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
@utility custom-scroll {
    &::-webkit-scrollbar {
        width: 8px;
        background: #99A1AF;
        border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
        height: 5px;
        border-radius: 16px;
        background: whitesmoke;
    }
}